<!DOCTYPE html>
<html>
    <head>
        <title>Get Batch Details</title>
    </head>

    <body>

   
<h2>Batch Details:</h2>
        <form action="/batch/getBatchDetails/" method="GET">
            <input type="date" id="date" name="date">
            <input type="submit" >
        </form>
    </body>
</html>