<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>

    <body>
    </br>
</br>
        <br>
        <br>
        <br>
        <center>
<h2>Pass Date to Get Batch Details:</h2>
        <form action="/batch/getBatchDetails/" method="GET">
            <input type="hidden" id="authorization" name="authorization" value="2uhuh2e">
            <input type="date" id="date" name="date">
            <input type="submit" >
        </form>
    </center>
    </body>
</html>